# Tailwind CLI - platform dependent
tailwindcss.exe
tailwindcss

# Editor configuration
.vscode

# Composer Dependencies
vendor
composer.lock

# Ignore local Environment Files
**.env

# Ignore Apache PHPMYADMIN tool
phpmyadmin